/* Styles des barres de titre des dialogues */
body #createDialog .ui-dialog-titlebar,
body #updateDialog .ui-dialog-titlebar,
body .ui-confirm-dialog .ui-dialog-titlebar {
    color: #fff;
    font-weight: 700;
    border-bottom: 0 none;
    padding: 1.5rem;
}

body #createDialog .ui-dialog-titlebar {
    background: #14c56b !important;
}

body #updateDialog .ui-dialog-titlebar {
    background: #FFA505 !important;
    color: #FFF !important;
}

body .ui-confirm-dialog .ui-dialog-titlebar {
    background: #f61011 !important;
    color: #FFF !important;
}

/* Styles des icônes de fermeture */
body #createDialog .ui-dialog-titlebar .ui-icon-closethick,
body #updateDialog .ui-dialog-titlebar .ui-icon-closethick,
body .ui-confirm-dialog .ui-dialog-titlebar .ui-icon-closethick {
    color: #fff !important;
}

/* Styles des boutons de sauvegarde dans les dialogues */
#createDialog_content .crud-form-save-button,
#updateDialog_content .crud-form-save-button {
    border: 1px solid !important;
}

#createDialog_content .crud-form-save-button {
    background: #14c56b !important;
    border-color: #14c56b !important;
}

#updateDialog_content .crud-form-save-button {
    background: #ffa503 !important;
    border-color: #ffa503 !important;
}

/* Styles généraux des dialogues */
#createDialog,
#updateDialog {
    max-width: 60% !important;
}

#createDialog_content,
#updateDialog_content {
    max-width: 100% !important;
}

/* Media Queries pour les tailles d'écran */
@media (min-width: 1200px) {
    #createDialog,
    #updateDialog {
        max-width: 50% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #createDialog,
    #updateDialog {
        max-width: 70% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #createDialog,
    #updateDialog {
        max-width: 80% !important;
    }
}

@media (max-width: 767px) {
    #createDialog,
    #updateDialog {
        max-width: 90% !important;
    }
}
